.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      font-size: 38px;
      margin-bottom: 25px;
      align-self: center;
      cursor: pointer;
    }
  
    .preview {
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: 769px) and (max-width: 1200px) {
    .collection-preview {
      .preview {
        display: grid;
        grid-template-columns: 50% 50%;
      }
    }
  }
  @media (max-width: 768px) {
    .collection-preview {
      .preview {
        flex-direction: column;
      }
    }
  }
  